.TodoList {
  color: whitesmoke;
  background: rgb(245, 81, 81);
  width: 20%;
  margin: 100px auto;

  padding: 40px;
  padding-top: 30px;
  word-wrap: break-word;
}
.TodoList section {
  font-size: 40px;
  font-weight: 400;
}
.TodoList p {
  margin: 0;
}
.TodoList hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  margin-bottom: 20px;
}
